
.s
{
    background-image: url(images.jpg);
    height: 400px;
    width: 500px;
    background-repeat: no-repeat;
    float: left;
    margin: 40px;
}
#t
{
    background-image: url(download.jpg);
    height: 400px;
    width: 500px;
    background-repeat: no-repeat;
    float: right;
    margin: 40px;
}
#a
{
    background-image: url(temple_sangli.jpg);
    height: 350px;
    width: 500px;
    background-repeat: no-repeat;
    margin: 40px;
    float: left;
}
#b
{
    background-image: url(images.jpg);
    height: 350px;
    width: 500px;
    background-repeat: no-repeat;
    float: left;
    margin: 40px;
}
